#full-screen {
  height: 70vh;
  width: 75vw;
  margin-top: 5vh;
  margin-left: 13vw;
  /* border: 2px solid tomato; */
  display: flex;
  flex-wrap: wrap;
}

.three-items {
  height: 100%;
  border-bottom: 3px solid aqua;
  display: inline-block;
}

#first-item {
  width: 40%;
}
#first-item h1 {
  padding-top: 50px;
}
#first-item p {
  padding-top: 50px;
  font-size: larger;
}
#hire-resume {
  padding-top: 50px;
}
.hire-resume-btn {
  height: 50px;
  width: 200px;
  font-size: large;
  margin-top: 50px;
  margin-left: 35px;
  border-radius: 10px;
  background-color: rgb(72, 218, 84);
  border: 2px solid tomato;
  color: black;
}
.hire-resume-btn:hover {
  height: 60px;
  width: 210px;
  font-size: larger;
  color: white;
  background-color: tomato;
}
#second-item {
  width: 20%;
  margin-left: 35px;
}
#third-item {
  width: 35%;
  margin-left: 35px;
}

#third-item img {
  width: 100%;
  height: 97%;
  object-fit: cover;
}

.bounce-items i {
  /* animation: bounce 3s infinite; */
  font-size: 5rem;
  margin-top: 9vh;
  display: flex;
  justify-content: center;
}

@keyframes bounce{
  0%{
    transform: translateY(0);
  }
  50%{
    transform: translateY(-50px);
  }
  100%{
    transform: translateY(0);
  }
}

#bounce-html{
  animation: bounce 3s infinite;
  color: rgb(223, 135, 35);
}
#bounce-css{
  animation: bounce 3.5s infinite;
  color: rgb(49, 214, 226);
}
#bounce-js{
  animation: bounce 3.5s infinite;
  color: yellow;
}
#bounce-react{
  animation: bounce 3s infinite;
  color: rgb(61, 210, 230);
}