body {
  background-color: #686d76;
  color: white;
}
.navbar-brand {
  font-size: 1.6rem;
}

#nav-logo {
  color: #63e6be;
  padding: 10px;
  text-align: center;
  border-radius: 50%;
}

#nav-logo-s {
  color: rgb(219, 24, 89);
  font-weight: bold;
}
#nav-logo-name {
  color: rgb(198, 216, 40);
  font-weight: bold;
}

.navbar-toggler {
  border: none;
}
.navbar-toggler:focus {
  box-shadow: none;
}

.offcanvas-title {
  font-weight: bold;
  font-size: 1.4rem;
}
.offcanvas-body {
  font-weight: bold;
  font-size: 1.1rem;
}

.nav-link:hover {
  color: #63e6be;
  border-bottom: 2px solid #63e6be;
}

.contact-icon {
  font-size: 2rem;
}

.whatsapp {
  color: #25d366;
}
.linkedin {
  color: #0087cf;
}
.facebook {
  color: #0346d6;
}
.twitter {
  color: #0877f2;
}
.instagram {
  color: #c13584;
}
.youtube {
  color: #ff0000;
}
.github {
  color: #ffffff;
}
