body {
  background-color: #686d76;
  color: white;
}
#navbar-container {
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  position: fixed;
}

#navbar {
  height: 12vh;
  width: 100%;
  background-color: #99a0ad;
}

#contact-page {
  height: 4vh;
  width: 100%;
  background-color: rgb(158, 129, 35);
}

#left-side-options {
  padding-top: 8px;
  padding-left: 12px;
}

#phone {
  padding-left: 12.5vw;
  color: green;
}
#phone-a {
  padding-left: 1px;
  text-decoration: none;
  color: black;
}

#email {
  padding-left: 15px;
  color: green;
}
#email-a {
  padding-left: 5px;
  font-family: "Times New Roman", Times, serif;
  font-size: 1.4rem;
  text-decoration: none;
  color: black;
}

#dark-light-mode {
  float: right;
  padding-right: 12vw;
  font-size: 1.4rem;
}
#dark-light-mode:hover {
  color: white;
  font-size: 1.6rem;
}

#myName {
  padding-left: 13vw;
  font-size: 3.2rem;
  padding-top: 2px;
  font-family: "Times New Roman", Times, serif;
  color: black;
}

#detail-page {
  display: flex;
}

#right-info {
  display: flex;
  position: absolute;
  right: 12vw;
  top: 5.5vh;
}
#nav-toogler-right {
  margin-top: 5.2vh;
  margin-right: 10.8vw;
}
.right-nav-info {
  margin-left: 15px;
  padding: 5px;
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
}

.right-nav-info:hover {
  color: white;
  border-bottom: 2px solid aqua;
  background-color: rgba(151, 224, 226, 0.336);
  border-radius: 5px;
}

/* media queries for 1400px and above */
@media all and (min-width: 1400px) {
  #nav-toogler-right {
    display: none;
  }
}

/* media queries for 950px to 1400px */
@media all and (min-width: 950px) and (max-width: 1399px) {
  #without-dropdown {
    display: none;
  }
}

/* media queries up to 950px */
@media all and (max-width: 950px) {
  #contact-page {
    display: none;
  }
  #without-dropdown{
    display: none;
  }
}
