#side-icons {
  display: flex;
  position: absolute;
  background-color: #e5e7ec;
  font-size: 2.5rem;
  top: 16vh;
  left: -25px;
  text-decoration: none;
  padding: 10px;
  border-radius: 20px;
}
#sidebar {
  position: fixed;
}
#side-icons a i {
  margin-top: 7px;
}
#side-icons a:hover {
  font-size: 3rem;
  border-bottom: 3px solid aquamarine;
}

#phone-contact-btn {
  display: none;
}

@media only screen and (max-width: 768px) {
  #side-icons {
    display: none;
  }
  #phone-contact-btn {
    display: flex;
    position: absolute;
    top: 92vh;
    right: 2vw;
    font-size: 2rem;
    color: yellow;
    border: 2px solid rgb(78, 217, 241);
    border-radius: 50%;
    padding: 5px;
  }
}
